<div class="container-fluid p-2">

  <div class="row justify-content-md-center">

    <app-pie class="col-4" [pieChartData]="totalHombresMujeres" [pieChartLabels]="labelHombresYMujeres"></app-pie>
    <app-card class="col-2 " [titulo]="'Total Empleados'" [subtitulo]="''" [contenido]="totalEmpleados" [clases]="'text-white bg-dark'"></app-card>
    <app-card class="col-2" [titulo]="'Total Hombres'" [subtitulo]="''" [contenido]="totalHombresMujeres[0]" [clases]="'text-white bg-danger'"></app-card>
    <app-card class="col-2" [titulo]="'Total Mujeres'" [subtitulo]="''" [contenido]="totalHombresMujeres[1]" [clases]="'text-white bg-success'"></app-card>

  </div>



</div>

<!--
Salario mas Bajo
Salario mas alto
Porcentaje de ausentismo	Por genero
Cursos de capacitacion	Cursos de capacitacion por genero
Horas Extras por genero
Despidos por genero
-->

