/* You can add global styles to this file, and also import other style files */
body{
  background: whitesmoke;
}
.row {
  margin:0 !important;
}
.chart {
  width: 100%;
  min-height: 250px;
  padding: 0;
  margin: 0;
}

